
body::before {
    display: block;
    content: '';
    height: 60px;
}

#map {
    margin-top: 60px;
    margin-left: 80px;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}